.card {
  display:flex;
  flex-direction:column;
  width: 100%;
  height: 300px;
  max-height:300px;
  // max-height: 500px;
  // max-width:400px;
  overflow:hidden;

  .card-header {
    flex: 0 0 30px;
    display:flex;
    font-size:20px;
    font-weight:700;
  }
  
.card-block {
  flex: 1 1 100%;
  display:flex;
  flex-direction: column;
  overflow:auto;

  .card-title {
    font-size:16px;
    font-weight:700;
  }
}


  .card-footer {
    flex: 0 0 30px;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;


    .icon-list {
      flex: 1 1 auto;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content: flex-start;
      flex-wrap: wrap;
      // align-self:flex-end;
      div {
        margin:3px;
        font-size:24px;
      }
    }

    .repo-details {
      display:flex;
      .repo-forks {
        margin-right:5px;
      }
      .stars-watchers {
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
      }
    }
  }
}


i {
  font-size:1rem;
}