<div class="container-fluid">
  <div id="action-bar">
    <form class="clr-form">
      <div class="clr-form-control">
        <!-- <label for="example" class="clr-control-label">Label</label> -->
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input type="text" id="example" placeholder="Search" class="clr-input" [(ngModel)]="searchString" (keydown.escape)="searchString = ''" [ngModelOptions]="{standalone:true}" />
            <clr-icon id="search-icon" shape="search" size="16" title="Search"></clr-icon>
          </div>
        </div>
      </div>
    </form>
  </div>
  <button (click)="ghAPI.authorize()">Auth</button>

  <div class="clr-row clr-align-items-center">
    <div [@cardStagger] class="col clr-col-xl-4 clr-col-lg-6 clr-col-md-12 clr-col-sm-12 clr-col-* clr-align-items-start"
      *ngFor="let repo of repositoriesAsync | search:searchString | async; let i = index">
        <app-repo-card [repo]="repo"></app-repo-card>
      <!-- <div class="clr-break-row" *ngIf="i%3 == 0"></div> -->
    </div>
  </div>
</div>
