$gutter: 24px;


:host {
  overflow:scroll;
  height:100%;
  .container-fluid {
    max-width: 2000px;

    #action-bar {
      display: flex;
      justify-content: flex-end;

      #search-icon {
        transform: translateX(-100%);
      }

    }

    .frow {
      height: 100%;
      overflow: auto;
    }



  }

  clr-progress-bar {
    transform: translate(-24px, -24px);
    width: calc(100% + 48px);
  }

}
